---
// Import necessary components, modules, and types
import MainLayout from "@/layouts/MainLayout.astro";
import CardBlog from "@components/ui/cards/CardBlog.astro";
import CardBlogRecent from "@components/ui/cards/CardBlogRecent.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";

// Get all blog posts and sort them based on publish date
const blogEntries: CollectionEntry<"blog">[] = await getCollection("blog");

const blogPosts: CollectionEntry<"blog">[] = blogEntries.sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);

// Separate the most recent post from others
const mostRecentPost: CollectionEntry<"blog"> = blogPosts[0];
const otherPosts: CollectionEntry<"blog">[] = blogPosts.slice(1);


// Define variables for page content
const title: string = "Developer Insights and Product Leadership";
const subTitle: string =
  "Explore my insights on software development, productivity, and more. I share my experiences in creating tools and frameworks that empower developers to build faster, smarter, and more effectively.";

const pageTitle: string = `Blog | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://marioguerra.xyz/blog",
    url: "https://marioguerra.xyz/blog",
    name: "Blog | Mario Guerra",
    description:
       "Explore my insights on software development, productivity, and more. I share my experiences in creating tools and frameworks that empower developers to build faster, smarter, and more effectively.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://marioguerra.xyz",
      name: "Mario Guerra",
        "description":
          "Product Manager for TypeSpec at Microsoft, specializing in increasing developer productivity through generative AI, modern build tools, and industry best practices."
    },
    inLanguage: "en-US",
  }}
>
  <section
    class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full"
  >
    <!--Page header-->
    <div class="mx-auto max-w-3xl text-left sm:text-center">
      <h1
        class="block text-balance text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-5xl lg:text-6xl"
      >
        {title}
      </h1>

      <p
        class="mt-4 text-pretty text-lg text-neutral-600 dark:text-neutral-400"
      >
        {subTitle}
      </p>
    </div>
  </section>

  <section
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <!--Blog posts grid-->
    <div class="grid gap-6 lg:grid-cols-2">
       {otherPosts.map((blogEntry) => (
          <CardBlog blogEntry={blogEntry} />
      ))}
    </div>
  </section>
  <!--Most recent blog post-->
  <section
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <CardBlogRecent
        blogEntry={
          mostRecentPost
        }
         />
  </section>
</MainLayout>