---
import MainLayout from '@/layouts/MainLayout.astro';
import type { Props as LayoutProps } from 'astro'
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import '../assets/styles/blog.css'
import CodeBlock from '../components/CodeBlock.astro';

interface Props extends LayoutProps {
    post: CollectionEntry<'blog'>;
  }

const { post } = Astro.props as Props;
const { Content } = await post.render();
const heroImage = post.data.image ? post.data.image : null;

const pageTitle = `${post.data.title} | My Blog`;
---

<MainLayout title={pageTitle}>
    <section
        slot="blog"
        class="mx-auto max-w-3xl px-1 pb-1 pt-1 sm:px-1 lg:px-1 lg:pt-1"
    >
        <!-- Post Title -->
        <h1 class="text-3xl font-bold mb-2 text-neutral-800 dark:text-neutral-200">
            {post.data.title}
        </h1>

         <!-- Post Image -->
        {heroImage && (
        <div class="relative w-full aspect-[1/1] mb-10 max-w-full overflow-hidden rounded-xl">
            <Image
            class="absolute inset-0 w-full h-full object-cover transform scale-80"
            src={heroImage}
            alt={`Image for ${post.data.title}`}
            draggable={false}
            loading="eager"
            />
        </div>
        )}

        <!-- Post Description -->
        <p class="text-neutral-500 dark:text-neutral-400 mb-1">
          {post.data.description}
        </p>

        <!-- Post Content -->
        <article
           class="prose prose-neutral dark:prose-invert prose-lg dark:text-neutral-200"
          >
            <Content components={{code: CodeBlock}}/>
        </article>
    </section>
</MainLayout>